---
import Page from '../../layouts/Page.astro'

import TextCounterUtil from '../../components/TextCounter.svelte'
---

<Page>
	<div class="max-w-5xl mx-auto pt-4 w-full">
		<TextCounterUtil client:load />
	</div>
</Page>
