---
import Page from '../../layouts/Page.astro'
import { Section } from '@vyke/astro'

import TextCounterS from '../../components/TextCounter.svelte'
---

<Page>
	<Section>
		<h1 class="text-2xl text-center">Text Counter</h1>

		<TextCounterS client:load />
	</Section>
</Page>
