---
import Page from '../layouts/Page.astro'
import { utils } from '../utils'
import UtilCard from '../components/UtilCard.astro'
---

<Page>
	<div class="mx-auto px-6">
		<h1 class="text-4xl text-center mt-12">Welcome to Many Utils</h1>
		<h2 class="mt-4 text-xl text-center text-base-content text-opacity-60">
			A collection of simple and useful tools to make your life easier.
		</h2>

		<section class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-8">
			{utils.map((util) => <UtilCard util={util} />)}
		</section>
	</div>
</Page>
