---
import Page from '../layouts/Page.astro'
import { Section } from '@vyke/astro'
---

<Page>
	<Section>
		<h1 class="text-2xl text-center">Welcome to Tiny Apps by Vyke</h1>
		<p class="mt-4">
			We are a small team of developers who love to build tiny apps that solve problems. We believe that the best apps
			are the ones that are simple and easy to use.
		</p>

		<h3>here is the list of apps we have built so far:</h3>
		<ul>
			<li><a class="link" href="/apps/text-counter">Text Counter</a></li>
		</ul>
	</Section>
</Page>
