---
export type Props = {
	icon: IconName
	class?: string
}

export type IconName = keyof typeof icons

import { Icon as AstroIcon } from 'astro-icon/components'
import { icons } from '../icon'

const { icon, class: className } = Astro.props

const iconName = icons[icon]
---

<span class:list={[className, iconName]}></span>
