---
import type { Util } from '../utils'
import Icon, { type IconName } from './Icon.astro'

export type Props = {
	util: Util
}

const { util } = Astro.props
const { title, description, category, slug } = util
---

<div class="card border border-base-300 shadow-sm">
	<div class="card-body">
		<h2 class="card-title">
			<Icon icon={category as IconName} />
			{title}
		</h2>
		<p>{description}</p>
		<div class="card-actions justify-center mt-4">
			<a href=`/u/${slug}` class="btn">Open</a>
		</div>
	</div>
</div>
